main {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
    grid-template-areas: 
        "title title title title title"
        "wordlist mode mode manual manual"
        "interval interval start manual manual"
        "interval interval start fulllist github";
    gap: 10px;
    max-width: 800px;
    aspect-ratio: 5 / 3;
}

div:not(.button) > h1, div:not(.button) > h2 {
    margin-top: 0;
}

.button h1, button h1, .button h2, button h2, .button h3, button h3 {
    margin: 0;
}

.title {
    grid-area: title;
}

.wordlist {
    grid-area: wordlist;
}

.mode {
    grid-area: mode;
}

.manual {
    grid-area: manual;
}

.interval {
    grid-area: interval;
}

.interval .options {
    text-align: center;
}

.interval .options > br {
    margin-bottom: 16px;
}

#customWords {
    vertical-align: top;
}

.start {
    grid-area: start;
}

.fulllist {
    grid-area: fulllist;
}

.github {
    grid-area: github;
}

.github img {
    display: inline;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}