html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0B5345;
    color: white;
    padding: 20px;
    min-width: fit-content;
}

@media only screen and (max-width: 530px) {
    body {
        padding: 20px 5px;
    }
}

button {
    font: inherit;
}

.button, button, .tile {
    background-color: #17A589;
    border: 2px solid #17A589;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    text-align: center;
}

.button, button {
    cursor: pointer;
    transition: background-color 0.1s ease, border-color 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.button:hover, button:hover {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.button:active, button:active {
    transform: scale(0.96);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

#menuButton {
    margin: auto;
    border-radius: 0.6em;
    font-size: 0.8rem;
    padding: 0.4em;
    text-decoration: none;
    width: fit-content;
}

input:not([type="radio"]) {
    background-color: white;
    color: black;
    border: 3px solid #117A65;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.6em;
    padding: 0.4em;
}

a {
    color: #B8E6FE;
}