html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0B5345;
    color: white;
    padding: 20px;
    min-width: fit-content;
}

button {
    background-color: #17A589;
    border: 2px solid #17A589;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    color: white;
    width: 4em;
    transition: background-color 0.1s ease, border-color 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
    cursor: pointer;
}

button:hover {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

button:active {
    transform: scale(0.96);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

input {
    background-color: white;
    color: black;
    border: 2px solid #17A589;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}

a {
    color: #B8E6FE;
}