@media only screen and (max-width: 390px) {
    body {
        padding: 20px 5px;
    }
}

.mainForm {
    text-align: center;
    margin-top: 30vh;
    gap: 50px;
}

#output {
    vertical-align: bottom;
    min-height: 5.5em;
}

.wordBox {
    text-align: center;
    gap: 4px;
}

.wordBox>p {
    display: inline;
    margin: 0;
}

.wordBox>input,
.wordBox>button {
    border-radius: 0.6em;
    font-size: 0.8rem;
    padding: 0.4em;
    width: 3em;
    display: inline-block;
    outline: none;
}

.wordBox,
.inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inputBox {
    gap: 8px;
}

.mainForm input,
.mainForm button {
    border-radius: 0.6em;
    font-size: 1.2rem;
    padding: 0.4em;
    display: inline-block;
    outline: none;
}

.mainForm input {
    width: 10em;
}
